#texto-simple{
    color: rgb(255, 0, 0);
    border: 2px solid green;
    text-align: center;
}
#texto-simple2{
    background: rgb(255, 0, 0);
    border: 2px solid rgb(0, 0, 128);
    text-align: end;
}